{{ partial "widgets/search.html" . }}

{{ partial "widgets/categories.html" . }}

{{ partial "widgets/tags.html" . }}

<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
      <h3 class="panel-title">Newsletter</h3>
    </div>
    <div class="panel-text">
      <p> Pour recevoir les derniers articles par mail, abonnez-vous &agrave; la newsletter Invest Astuces!</p>
      <p> To receive the latest posts by email, subscribe to the Invest Astuces newsletter!</p>
    </div>

    <div class="panel-body">
                <form id="popup-form" action="https://email_list_service_api.com">
                    <input type="hidden" name="list" value="key_list_etc" />
                    <input type="text" name="name" placeholder="Nom / Name" />
                    <input type="text" name="email" placeholder="Adresse mail / Email" />
                    <button type="button" name="subscribe"><i class='fa fa-lg fa-check-circle'></i></button>
                </form>
    </div>
</div>

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3c6a82f94cb9e699d32a0e172/7c55928182d814d978190b536.js");</script>

